<div class="container">
  <h2>Reg Form</h2>
  <form [formGroup]="registrationForm">
    <div>
      <mat-form-field>
        <mat-label>User Role</mat-label>
        <mat-select formControlName="user_role">
          <mat-option value="read-only">Read Only</mat-option>
          <mat-option value="administrator">Administrator</mat-option>
          <mat-option value="maintainer">Maintainer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Locations</mat-label>
        <mat-select formControlName="locations">
          <mat-option value="bellevue">Bellevue</mat-option>
          <mat-option value="papillion">Papillion</mat-option>
          <mat-option value="gretna">Gretna</mat-option>
        </mat-select>
        <mat-error *ngIf="registrationForm.controls['locations'].hasError('required')">
          Location is required
        </mat-error>
      </mat-form-field>
    </div>
    
    <button mat-raised-button color="primary" type="submit">Reg</button>

  </form>
</div>

<div class="container">
  {{registrationForm.value | json}}
</div>



<router-outlet></router-outlet>